<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPHost" value="appsmail.turner.com" />
    <add key="MailTo" value="TvrsTeam-DEVs@turner.com,shanmuga.sundaram@turner.com" />
    <add key="MailCC" value="shanmuga.sundaram@turner.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_ISystemService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://mssqaondsch03.turner.com/Mule.SystemService/SystemService.svc"
          binding="customBinding" bindingConfiguration="CustomBinding_ISystemService"
          contract="MuleSystemService.ISystemService" name="CustomBinding_ISystemService" />
    </client>
  </system.serviceModel>
</configuration>